body {
  font-family: "Roboto";
}

.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.partfolio-buttos {
  list-style: none;
}

.main-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;
}

.main-menu-items {
  text-decoration: none;
  list-style: none;
}

.main-menu li {
  text-decoration: none;
  list-style: none;
}
